
<header>   
    <h1>Área de Cadastro</h1> 
    <button class="btn btn-success" (click)="openModel()">Adicionar novo Cadastro</button>   
</header>

<div class="container">
  <div class="container mt-3">
    <h2>Cadastros Realizados</h2>          
    <table class="table">
        <thead>
            <tr>
                <th class="col-12 col-sm-3">Documento</th>
                <th class="col-12 col-sm-3">Nome</th>
                <th class="col-12 col-sm-3">Endereço</th>
            </tr>
        </thead>


        <tbody>
              @for (item of clientList; track $index) {
            <tr>
              <td class="col-12 col-sm-3">{{item.documento}}</td>
              <td  class="col-12 col-sm-3" >{{item.nomeRazaoSocial}}</td>
              <td class="col-12 col-sm-3" >{{item.endereco}}</td>
            </tr>
             }


          </tbody>
        </table>
    
  </div>
  
  
  <!-- The Modal -->
  <div class="modal" id="myModal" #myModal>
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Realizar Novo Cadastro</h4>
          <button type="button" class="btn-close" (click)="closeModel()"></button>
        </div>
  
       <!-- Modal body -->

<div class="modal-body">
    <div class="row">
      <div class="col-12 mb-3">
       <h6>Tipo Cliente</h6>
        <select id="tipoCliente" [(ngModel)]="clientObj.tipo" class="form-control-sm" required>
            <option value="fisica">Pessoa Física</option>
            <option value="juridica">Pessoa Jurídica</option>
        </select>
        @if (clientObj.tipo == null) {
           
            <p>Campo Obrigatório</p>
        
        }
      
      </div>
   
      <div class="col-12 mb-3">
        <h6>Documento</h6>
        <input type="text" [(ngModel)]="clientObj.documento" class="form-control-sm">

        @if (clientObj.documento == "") {
                <p>Campo Obrigatório</p> 
        }
      
      </div>
  
      <div class="col-12 mb-3">
        <h6>Nome / Razão Social</h6>
        <input type="text" [(ngModel)]="clientObj.nomeRazaoSocial" class="form-control-sm" >
        @if (clientObj.nomeRazaoSocial == "") {
          
                <p>Campo Obrigatório</p>
         
        }
      
      </div>
  
      @if (clientObj.tipo == 'juridica') {

          <div class="col-12 mb-3">
            <h6>Nome Fantasia</h6>
            <input type="text" [(ngModel)]="clientObj.nomeFantasia" class="form-control-sm">
          </div>

      }
  
      <div class="col-12 mb-3">
        <h6>CEP</h6>
        <input type="text" [(ngModel)]="clientObj.cep" class="form-control-sm">
      </div>
  
      <div class="col-12 mb-3">
        <h6>Endereço</h6>
        <input type="text" [(ngModel)]="clientObj.endereco" class="form-control-sm">
      </div>
  
      <div class="col-12 mb-3">
        <h6>Bairro</h6>
        <input type="text" [(ngModel)]="clientObj.bairro" class="form-control-sm">
      </div>
  
      <div class="col-12 mb-3">
        <h6>Cidade</h6>
        <input type="text" [(ngModel)]="clientObj.cidade" class="form-control-sm">
      </div>
  
      <div class="col-12 mb-3">
        <h6>Telefone</h6>
        <input type="text" [(ngModel)]="clientObj.telefone" class="form-control-sm">
      </div>
  
      <div class="col-12 mb-3">
        <h6>Email</h6>
        <input type="text" [(ngModel)]="clientObj.email" class="form-control-sm">
        @if (clientObj.email == "") {
            <p>Campo Obrigatório</p>
        }
      </div>
  
    </div>
  </div>
  
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeModel()">Fechar</button>
          <button type="button"
           class="btn btn-success" (click)="saveModel()"  
           [disabled]="!clientObj.tipo || !clientObj.documento || !clientObj.nomeRazaoSocial || !clientObj.email" 
          >Salvar</button>
        </div>
  
      </div>
    </div>

 


</div>
  
