.modal-body label {     
    margin-bottom: 10px;    
  }
  
.modal-body .form-control-sm {
    margin-left: 10px;     
}

header{
  display: flex;
  background-color: rgb(31, 31, 32);
  color: white;
  align-items: center; /*alinhando o conteudo*/
  justify-content: space-around;
}

p{

  color: rgb(187, 81, 81);
}